---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import Price from '../components/Price.astro';
---

<Layout title="Sofdata">
	<main>
        <Price/>
	</main>
</Layout>

