<button class="bg-white text-black rounded-full text-lg font-semibold px-8 py-4 cursor-pointer transition-transform duration-300 ease-in-out border border-black shadow-none hover:translate-y-[-4px] hover:translate-x-[-2px] hover:shadow-[2px_5px_0_0_black] active:translate-y-[2px] active:translate-x-[1px] active:shadow-none">
<slot />
</button>
  